@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

h1,h2,h3,h4,h5 {
	font-size: 1.3rem;
	margin: 0;
	padding: 0 0 0.1rem 0;
}

html {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
	font-weight: 300;
	font-size: 16px;
	box-sizing: border-box;
}

html, body{
	width: 100vw;
	margin: 0;
	padding: 0;
}

div, ul, li, section{
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#preloader {
	display: none;
}

#game {
	/*display: none;*/
}

/* UI */
#main-map{
	width: 100vw;
	height: calc(100vh - 4rem);
	z-index: 0;
}

#ui {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #343434;
	width: 100vw;
	height: 4rem;
	color: #fff;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	z-index: 2;
	/*-webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.4);*/
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	z-index: 1;
}

#ui ul {
	list-style: none;
}

#ui .icon {
	margin: 0 0.5rem 0 0;
}

#ui #stats {
	list-style: none;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#ui #stats li {
 	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 1rem;
	margin: 0 0.5rem;
}

#ui #time {
	
}

#ui #player-money{
	cursor: pointer;
	background: #3a3a3a;
	color: #9CCC65;
}

#ui #player-money.negative{
	color: #FF5722;
}

#ui #game-item-menu {
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	z-index: 1;
}

#ui #game-item-menu > li {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin:0 1rem;
}

#ui #game-item-menu > li > img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	cursor: pointer;
}

#ui #game-item-menu > li:hover > img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#ui #game-item-menu > li > ul {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3em;
	padding: 1rem 1rem 2rem 1rem;
	width: 100vw;
	background: #4f4f4f;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	cursor: default;
	z-index: -1;
}

/* garages */
#ui #game-item-menu > li#buy-garage > ul > li {
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	margin: 0 0.5rem;
	background: #90A4AE;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgba(255,255,255,0.8);
   	-webkit-transition: all .20s ease-in-out;
	transition: all .20s;
	cursor: pointer;
	border-radius: 0.2rem;
}

#ui #game-item-menu > li#buy-garage > ul > li.active {
	background: #8BC34A;
	color: rgba(255,255,255,1);
}

#ui #game-item-menu > li#buy-garage > ul > li > ul {
	margin-left: .5rem;
}

/* garages */
#ui #game-item-menu > li#buy-garage h1 {
	margin: 0;
	padding: 0;
}

/* Generic styles */
.center-text {
	text-align: center;
}

ul.button-list {
	display: flex;
	flex-flow: row wrap;
}

ul.button-list > li {
    padding: 1rem;
    margin: 0.5rem;
    background-color: #90A4AE;
    position: relative;
    flex-basis: calc(50% - 2rem);
    overflow: hidden;
    cursor: pointer;
	-webkit-transition: all .15s ease-in-out;
    transition: all .15s;
    border-radius: 0.2rem;
}

ul.button-list > li:hover {
    background-color: #8BC34A;
}

ul.info-list {
	display: flex;
	flex-flow: row wrap;
}

ul.info-list > li {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 0.8rem;
    background-color: #90A4AE;
    position: relative;
    flex-basis: calc(25% - 2rem);
    overflow: hidden;
    cursor: pointer;
	-webkit-transition: all .15s ease-in-out;
    transition: all .15s;
    border-radius: 0.2rem;
}

ul.info-list > li h2 {
	font-size: 1rem;
}

.chart svg {
	border: 1px solid rgba(255,255,255,0.1);
	width: calc(100% - 1rem);
}

/* windows */
.window{
	left: 50%;
	top: 50%;
	margin-left: -325px;
	margin-top: -350px;
	height: 450px;
	width: 650px;
	z-index: 1;
	background: #343434;
	color: #fff;
	position: fixed !important;
	-webkit-box-shadow: 0px 9px 29px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 9px 29px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 9px 29px 0px rgba(0,0,0,0.5);
	overflow: hidden;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.window.large {
	height: 550px;
	width: 750px;
	margin-left: -375px;
	margin-top: -350px;
}

.window ul.topbar li ul.right{
	opacity: 0.5
}

.window.focus ul.topbar li ul.right, .window.focus ul.topbar li ul.right:hover{
	opacity: 1
}

.window ul.topbar {
	height: 40px;
	width: 100%;
	background: #515D74;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 2px solid #3c4556;
	z-index: 1;
	list-style: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window ul.topbar input {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 0.05rem;
	font-size: 1rem;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
	outline: none;
	text-overflow: ellipsis;
	width: calc(100% - 1rem);
}

.window ul.topbar li ul{
	list-style: none;
}

.window ul.topbar li ul.left{
	float: left;
	display: block;
	font-weight: 400;
	position: relative;
	z-index: 2;
	letter-spacing: 1px;
}

.window ul.topbar li ul.center{
	position: absolute;
	text-align: center;
	width: 100%;
	display: block;
	z-index: 1;
}

.window ul.topbar li ul.center li{
	display: inline-block;
	cursor: pointer;
	z-index: 2;
	height: 40px;
}

.window ul.topbar li ul.tab-control li:hover, .window ul.topbar li ul.tab-control li.active{
	border-bottom: 2px solid rgba(255,255,255,0.7);
	
}

.window ul.topbar li ul.tab-control li.active{
	font-weight: 300;
}

.window ul.topbar li ul.right{
	float: right;
	display: block;
	position: relative;
	z-index: 2;
}

.window ul.topbar li ul.right li{
	float: left;
	display: block;
}

.window ul.topbar li ul li{
	padding: 11px 10px 10px 10px;
}

.window ul.topbar li ul li svg, .window ul.topbar li ul li img{
	height: 16px;
	width: 16px;
	margin-top: 2px;
	cursor: pointer;
	opacity: 0.7;
}

.window ul.topbar li ul li svg:hover, .window ul.topbar li ul li img:hover{
	opacity: 1;
	cursor: pointer;
}

.window ul.tab-wrapper{
	width: 100%;
    height: calc(100% - 40px);
    margin-top: 40px;
   	float: left;
	list-style: none;
	padding: 1rem 0 1rem 1rem;
	overflow: auto;
}

.window ul.tab-wrapper li.tab{
	width: 100%;
	float: left;
	display: none;
}

.window ul.tab-wrapper li.tab.active{
	display: block;
}

.window ul.tab-wrapper li.tab .box{
	list-style: none;
	width: 100%;
	padding: 15px;
	float: left;
	box-sizing: border-box;
	min-height: 150px;
	overflow: auto;
}

.window ul.tab-wrapper li.tab .box.size-25{
	width: 25%;
}

.window ul.tab-wrapper li.tab .box.size-50{
	width: 50%;
}
	
.window ul.tab-wrapper li.tab .box.size-75{
	width: 75%;
}

.window ul.tab-wrapper li.tab .box .title {
	font-weight: 700;
	font-size: 1.2em;
}

.ui-icon, .ui-widget-content .ui-icon{
	background-image: none !important;
}

/* Template specific css */
/* Truck window */
.window.truck ul.topbar{
	background: #FF5722;
	border-color: #D84315;
}

.window.truck .upgrade{
	cursor: pointer;
	background-color: #90A4AE; 
	padding: 5px;
	margin: 10px 0;
	border-radius: 0.2rem;
}

.window.truck .upgrade.activated{
	cursor: default;
	background-color: #8BC34A;
}

/* Garage window */
.window.garage ul.topbar{
	background: #6FA3A3;
	border-color: #5a8484;
}

.window.garage ul.tab-wrapper li.tab .box .title {
	color: #83A3B0;
}

.truck-types .brand{
	font-weight: 700;
}

.truck-types .truck{
	cursor: pointer;
}

/* Bank */
.window#bank .banks {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}

.window#bank ul.topbar{
	background: #2E7D32;
	border-color: #1B5E20;
}

.window#bank .banks > li {
	flex-basis: 50%;
	padding: 0 0 1rem 0;
}

.window#bank .banks, .window#bank .banks ul {
	list-style: none;
}

.window#bank .banks .name {
	font-weight: 2rem;
	font-weight: 700;
}

.window#bank .banks .loans {
	display: flex;
	flex-flow: row wrap;
}

.window#bank .banks .loans > li {
	padding: 1rem;
	margin: 0.5rem;
	background-color: #90A4AE;
	position: relative;
    flex-basis: calc(50% - 2rem);
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s;
	overflow: hidden;
	border-radius: 0.2rem;
	color: rgba(255,255,255,0.4);
}

.window#bank .banks .loans > li.available {
	color: rgba(255,255,255,1);
	background-color: #8BC34A;
	cursor: pointer;
}

.window#bank .banks .loans > li.available:before, .button-list li::before {
    content: "";
    background: rgba(255,255,255,0.5);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.window#bank .banks .loans > li.available:active::before, .button-list li:active::before {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.window#bank .banks .loans > li.active {
	color: rgba(255,255,255,0.3);
	background-color: #7CB342;
	cursor: default;
}

.window#bank .banks .loans .loan {
	z-index: 1;
    position: relative;
}

.window#bank .banks .loans > li::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-weight: 700;
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s;
}

.window#bank .banks .loans > li.active::after {
	opacity: 1;
}

.window#bank .banks .loans .loan-percentage {
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background: #bbe971;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s;

}

.window#bank .banks .loans .loan-percentage-desc {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-weight: 700;
}

.window#bank .banks .loans .loan-desc {
	padding: 0.5rem 0 0 0;
	display: none;
}

/* generic */
.icon {
	width: 1.3rem;
	height: 1.3rem;
}

