<div class="window" id="bank">
	<ul class="topbar">
		<li>
			<ul class="left">
				<li>Bank</li>
			</ul>
		</li>
		<li>
			<ul class="center tab-control">
				<li class="active">Overview</li>
			</ul>
		</li>
		<li>
			<ul class="right">
				<li class='close'>
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><path d="m509-56.41c-.469.469-.938.938-1.406 1.406.966 1.023 2.979 3 3.969 4-.99 1-3 2.977-3.969 4 .469.469.938.938 1.406 1.406 1.023-.966 3-2.979 4-3.969 1 .99 2.977 3 4 3.969.469-.469.938-.938 1.406-1.406-.966-1.023-2.979-3-3.969-4 .99-1 3-2.977 3.969-4-.469-.469-.938-.938-1.406-1.406-1.023.966-3 2.979-4 3.969-1-.99-2.977-3-4-3.969" color="#fff" fill="#fff" opacity="1" transform="translate(-505 59)"/></svg>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="tab-wrapper">
		<li class="tab active">
			<ul class="banks" v-bar="{preventParentScroll: true, scrollThrottle: 30}">
				<li v-for="(bank, bankIndex) in banks">
					<span class="name">{{ bank.bank.name }}</span>
					<ul class="loans">
						<li v-for="(loan, loanIndex) in bank.bank.loans" v-bind:class="{ active: loan.active, available: loan.available }" v-on:click="setLoan(bankIndex, loan, loanIndex)">
							<div class="loan">
								<b>{{ loan.name }}</b> <br>
								{{ loan.amount | money  }} <br>
								interest per month: {{ loan.interest }}%<br>
								loan term: {{ loan.duration }} month(s)<br>
							</div>
							<div v-if="loan.available === false" class="loan-desc">
								{{ loan.desc }}
							</div>
							<span v-bind:style="{width: loan.percentageDone + '%'}" class="loan-percentage" ></span>
							<span v-show="loan.active" class="loan-percentage-desc">{{ loan.percentageDone }}%</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>