<div class="window large" id="company">
	<ul class="topbar">
		<li>
			<ul class="left">
				<li><input type="text" v-bind:title="company.name" v-model.trim="company.name"></li>
			</ul>
		</li>
		<li>
			<ul class="center tab-control">
				<li class="active">Overview</li>
			</ul>
		</li>
		<li>
			<ul class="right">
				<li class='close'>
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><path d="m509-56.41c-.469.469-.938.938-1.406 1.406.966 1.023 2.979 3 3.969 4-.99 1-3 2.977-3.969 4 .469.469.938.938 1.406 1.406 1.023-.966 3-2.979 4-3.969 1 .99 2.977 3 4 3.969.469-.469.938-.938 1.406-1.406-.966-1.023-2.979-3-3.969-4 .99-1 3-2.977 3.969-4-.469-.469-.938-.938-1.406-1.406-1.023.966-3 2.979-4 3.969-1-.99-2.977-3-4-3.969" color="#fff" fill="#fff" opacity="1" transform="translate(-505 59)"/></svg>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="tab-wrapper">
		<li class="tab active">
			<div class="chart" v-show="moneyHistory.length > 1">
				<h1>Money trend (now):</h1>
				<trend
				  :data="moneyHistory"
				  :gradient="['#0960E5', '#1BD0D9', '#4BF557']"
				  auto-draw
				  smooth>
				</trend>
			</div>
			<h1>Daily statistics:</h1>
			<ul class="info-list static">
				<li v-for="day in stats">
					<h2> day {{ day.day }} - {{ day.time | formatDateNoTime }}</h2>
					money made: {{ moneyFunc(day.money) }}
				</li>
			</ul>
		<li class="tab">
			<div></div>
		</li>
		<li class="tab">
			3
		</li>
	</ul>
</div>