<div class="window garage garage_{{id}}" data-id="{{id}}">
	<ul class="topbar">
		<li>
			<ul class="left">
				<li><input type="text" v-model.trim="garage.name"></li>
			</ul>
		</li>
		<li>
			<ul class="center tab-control">
				<li data-tab="0" class="active">Overview</li>
				<li data-tab="1">Buy Truck</li>
				<li data-tab="2">Hire Staff</li>
			</ul>
		</li>
		<li>
			<ul class="right">
<!-- 				<li class="delete">
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><g transform="translate(-385 18.996)" fill="#fff" opacity="1" color="#fff"><path d="m387-14v9c0 .524.476 1 1 1h8 1c.524 0 1-.476 1-1v-9z"/><path d="m386-16v1l13-.003v-.997c0-1-1-1-1-1h-3c0 0 0-1-1-1h-3c-1 0-1 1-1 1h-3c0 0-1 .003-1 1"/></g></svg>
				</li> -->
				<li class='close'>
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><path d="m509-56.41c-.469.469-.938.938-1.406 1.406.966 1.023 2.979 3 3.969 4-.99 1-3 2.977-3.969 4 .469.469.938.938 1.406 1.406 1.023-.966 3-2.979 4-3.969 1 .99 2.977 3 4 3.969.469-.469.938-.938 1.406-1.406-.966-1.023-2.979-3-3.969-4 .99-1 3-2.977 3.969-4-.469-.469-.938-.938-1.406-1.406-1.023.966-3 2.979-4 3.969-1-.99-2.977-3-4-3.969" color="#fff" fill="#fff" opacity="1" transform="translate(-505 59)"/></svg>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="tab-wrapper">
		<li data-tab="0" class="tab active">
			<h2>Trucks:</h2>
			<div v-for="(truck, truckIndex) in garage.trucks" v-on:click="window.Trucks.openOverview(truck)" style="cursor: pointer;">{{ truck.name }}</div>
			<h2>Staff:</h2>
			<div v-for="(member, memberIndex) in garage.staff">{{ member.name }}</div>
		</li>
		<li data-tab="1" class="tab buy-truck">
			<div v-for="(brand, brandKey) in availableTrucks">
				<h1>{{ brandKey }}</h1>
				<ul class="button-list">
					<li v-for="(truck, key) in brand" v-on:click="buyTruck(brandKey, garage.id, truck)">
						<h2>{{ truck.type }}</h2>
						max load: {{ truck.cargo }} tn <br>
						max speed: {{ truck.speed }} km/h <br>
						price: {{ truck.price | money }}
					</li>
				</ul>
			</div>
		</li>
		<li data-tab="2" class="tab">
			<ul class="button-list">
				<li v-for="(staff, staffIndex) in staffpool" v-on:click="hireStaff(staffIndex, garage.id)">
					<b>{{ staff.name }}</b> <br>
					age: {{ staff.age }} <br>
					years of experience: {{ staff.experience }} <br>
					pay per month: {{ staff.pay | money }} <br>
				</li>
			</ul>
		</li>
	</ul>
</div>