<div class="window truck truck_{{id}}" data-id="{{id}}">
	<ul class="topbar">
		<li>
			<ul class="left">
				<li data-bind-to'name'>{{name}}</li>
			</ul>
		</li>
		<li>
			<ul class="center tab-control">
				<li class="active">Overview</li>
				<li>Upgrades</li>
				<!-- <li>Statistics</li> -->
			</ul>
		</li>
		<li>
			<ul class="right">
		<!-- 		<li class="delete">
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><g transform="translate(-385 18.996)" fill="#fff" opacity="1" color="#fff"><path d="m387-14v9c0 .524.476 1 1 1h8 1c.524 0 1-.476 1-1v-9z"/><path d="m386-16v1l13-.003v-.997c0-1-1-1-1-1h-3c0 0 0-1-1-1h-3c-1 0-1 1-1 1h-3c0 0-1 .003-1 1"/></g></svg>
				</li>
				<li class='center'>
					<img src="/img/icons/marker-icon.png">
				</li> -->
				<li class='close'>
					<svg xmlns="http://www.w3.org/2000/svg" enable-background="new" viewBox="0 0 16 16"><defs><filter color-interpolation-filters="sRGB"><feBlend in2="BackgroundImage" mode="darken"/></filter></defs><path d="m509-56.41c-.469.469-.938.938-1.406 1.406.966 1.023 2.979 3 3.969 4-.99 1-3 2.977-3.969 4 .469.469.938.938 1.406 1.406 1.023-.966 3-2.979 4-3.969 1 .99 2.977 3 4 3.969.469-.469.938-.938 1.406-1.406-.966-1.023-2.979-3-3.969-4 .99-1 3-2.977 3.969-4-.469-.469-.938-.938-1.406-1.406-1.023.966-3 2.979-4 3.969-1-.99-2.977-3-4-3.969" color="#fff" fill="#fff" opacity="1" transform="translate(-505 59)"/></svg>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="tab-wrapper">
		<li class="tab active">
			<ul class="box size-50 stats">
				<li class="title">Truck</li>
				<li class="brand-type"><b>{{brand}} {{type}}</b></li>
				<li><br>Stationed at: <span class="link garageName" data-bind-to="garageName">-</span></li>
				<li><br>Operational range: <span class="range" data-bind-to="range">-</span> km</li>
				<li>Distance driven: <span data-bind-to="metersDriven" data-format="mToKm">-</span> km</li>
				<li>Fuel left in tank: <span data-bind-to="fuel" data-format="twoDigits"></span>/<span data-bind-to="fuelCapicity" data-format="noDigits"></span> L</li>
				<li>State of the truck: <span data-bind-to="health"></span>%</li>
			</ul>
			<ul class="box size-50 stats">
				<li class="title">Current job</li>
				<li class="center"><b><span class="link driverName" data-bind-to="driverName">-</span></b> is currently <span data-bind-to="state">-</span><!-- <span data-bind-to="wakeUpTime"></span></li> -->
				<li><br>Delivering <span data-bind-to="job.cargo.weight">-</span> tn of <span data-bind-to="job.cargo.name">-</span> to <span data-bind-to="job.route.endAdress">-</span></li>
				<li><br>ETA: <span data-bind-to="job.route.duration.text">-</span></li>
				<li>Distance: <span data-bind-to="metersDrivenJob" data-format="mToKm">-</span> / <span data-bind-to="job.route.distance.total">-</span> km</li>
				<li>Pay: <span data-bind-to="job.reward" data-format="money">-</span></li>
			</ul>
		</li>
		<li class="tab" id="upgrades">
			<ul class="box size-50" id="upgrades_cargoTypes">
				<li class="title">Types of goods<br></li>
			</ul>
			<ul class="box size-50" id="upgrades_range">
				<li class="title">Operational range(<span class="range" data-bind-to="range">-</span> km)</li>
			</ul>
		</li>
		<li class="tab">
			2
		</li>
	</ul>
</div>