<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Truck</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
</head>
	<body>
		<div id="preloader"></div>
		<div id="game">
			<section id="main-map"></section>
			<section id="ui">
				<ul id="stats">
					<li id="time" ><img class="icon" src="/img/icons/icon_clock_alt.svg"> <span>{{ stats.now.time | formatDate }}</span></li>
					<li id="player-money" v-on:click.self="openCompany()" v-bind:class="{ negative: stats.now.moneyNegative }">{{ moneyFunc(stats.now.money) }}</li>
				</ul>
				<ul id="game-item-menu">
					<li id="buy-garage">
						<img v-on:click.self="toggleGarages()" src="img/icons/tools.png" title="Build a garage" data-tippy-size="large" data-tippy-arrow="true" data-tippy-animation="shift-toward" v-tippy>
						<ul v-show="garagesVisible">
							<li v-for="(garage, index) in availableGarages" v-bind:class="{ active: activeGarage == index }" v-on:click="buyGarage(index, garage)">
								<img v-bind:src="garage.icon">
								<ul>
									<li><h1>{{ garage.name }}</h1></li>
									<li>Max vehicles: <b>{{ garage.truckSpace }}</b></li>
									<li>Cost per month: <b>{{ garage.upkeep | money }}</b></li>
									<li>Initial cost: <b>{{ garage.price | money }}</b></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<img v-on:click.self="openCompany()" src="img/icons/briefcase.png" v-bind:title="company.name" data-tippy-size="large" data-tippy-arrow="true" data-tippy-animation="shift-toward" v-tippy>
					</li>
					<li>
						<img v-on:click.self="openBank()" src="img/icons/money.png" title="Banks" data-tippy-size="large" data-tippy-arrow="true" data-tippy-animation="shift-toward" v-tippy>
					</li>
				</ul>
			</section>
		</div>
		<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBLC-3kuh3XDWrtw355hLN_Gaof1yvUllE"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		<script src="/node_modules/vue/dist/vue.min.js"></script>
		<script src="/js/build/vue-trend.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-tippy/dist/vue-tippy.min.js"></script>
		<script src="/js/libs/chance.min.js"></script>
		<script src="/js/config/dev/settings.js"></script>
		<script src="/js/build/game.js"></script>
		<script src="/js/build/Company.js"></script>
		<script src="/js/build/bank.js"></script>
		<script src="/js/build/financial.js"></script>
		<script src="/js/build/formatting.js"></script>
		<script src="/js/build/garage.js"></script>
		<script src="/js/build/general.js"></script>
		<script src="/js/build/job.js"></script>
		<script src="/js/build/route.js"></script>
		<script src="/js/build/staff.js"></script>
		<script src="/js/build/template.js"></script>
		<script src="/js/build/time.js"></script>
		<script src="/js/build/truck.js"></script>
		<script src="/js/build/Gui.js"></script>
		<script src="/js/build/stats.js"></script>

	</body>
</html>